<html>
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <h1>Bradley's World Cup PC</h1>
      <br/>
      <p>Welcome To Your Tournament Exclusive Infinite Pokemon PC</p>
      <p>Create And Register The Team You Will Use Throughout This Tournament</p>
      <h3><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> To View Your PC</h3>
    </div>
  </div>
</html>

